.textField {
    margin-top: 100px;
}

.containerData {
    padding-left: 100px;
    padding-right: 100px;
}

.detail {
    margin: auto;
    width: 36%;
}

.button, [type='button'] {
    background-color: green;
}

.text-pemisah {
    background-color: #4ADE80;
    color: white;
    width: 70px;
    height: 34px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slider {
    width: 90%;
}